.error {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
}

.error-title {
    font-size: 200px;
    color: #FF6060;
}

.oops {
    color: #FF6060;
    font-size: 25px;
}